<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>youtunes</display-name>
	<welcome-file-list>
		<welcome-file>discover/jsp/index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>DiscoverServlet</servlet-name>
		<servlet-class>youtunes.DiscoverServlet</servlet-class>
		<init-param>
			<param-name>base</param-name>
			<param-value>/youtunes/discover</param-value>
		</init-param>
		<init-param>
			<param-name>imageURL</param-name>
			<param-value>/youtunes/images/</param-value>
		</init-param>
		<init-param>
			<param-name>jdbcDriver</param-name>
			<param-value>com.mysql.cj.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>dbURL</param-name>
			<param-value>jdbc:mysql://localhost:3306/youtunes</param-value>
		</init-param>
		<init-param>
			<param-name>dbUserName</param-name>
			<param-value>youtunes_user</param-value>
		</init-param>
		<init-param>
			<param-name>dbPassword</param-name>
			<param-value>MySQL8IsGreat!</param-value>
		</init-param>
	</servlet>
</web-app>
